
/* black color : #3776a1
white color : #89cff1
highlight color : #5293bb */

body{
    background-color: #6eb1d6;
    background: linear-gradient(to bottom, #957fef, #cfa0fa);
    margin: 0;
}
.box{
    height: 80px;
    width: 80px;
    /* position: relative; */
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    border: 3px solid #212c58;
    border-radius: 5px;
}

.big-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 65px; */
    height: 100vh;
}

.dark-square {
    background-color: #3776a1;
}

.light-square {
    background-color: #89cff1;
}

.highlight {
    background-color: #5293bb;
}


.pieces img{
    width: 100%;
    position: relative;
    /* z-index: -1; */
    pointer-events: none;
}

path{
    position: relative;
    z-index: -2;
    cursor: grab;
}

.pieces {
    cursor: grab;
    position: relative;
    z-index: 1;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 30%;
    width: 30%;
    border-radius: 50%;
    background-color: #5416752f;
}

#player1 {
    display: flex;
    flex-direction: row-reverse;
    height: 40px;
    width: 640px;
    /* justify-content: center; */
    align-items: center;
}

#player2 {
    display: flex;
    height: 40px;
    width: 640px;
    /* justify-content: center; */
    align-items: center;
}

span {
    height: 20px;
    font-size: 20px;
}

.shake {
    animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
  
@keyframes shake {
    20%{
      transform: translate3d(-2px, 0, 0);
    }

    80% {
      transform: translate3d(2px, 0, 0);
    }
  
    60%{
      transform: translate3d(-5px, 0, 0);
    }
  
    40%{
      transform: translate3d(5px, 0, 0);
    }
}