
/* black color : #3776a1
white color : #89cff1
highlight color : #5293bb */

body{
    background-color: #6eb1d6;
    background: linear-gradient(to bottom, #957fef, #cfa0fa);
    margin: 0;
}
.box{
    height: 80px;
    width: 80px;
    /* position: relative; */
}

.container{
    display: flex;
    flex-wrap: wrap;
    height: 640px;
    width: 640px;
    border: 3px solid #212c58;
    border-radius: 5px;
}

.big-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 65px; */
    height: 100vh;
}

.black {
    background-color: #3776a1;
}

.white {
    background-color: #89cff1;
}

.highlight {
    background-color: #5293bb;
}


.box img{
    width: 100%;
    position: relative;
    /* z-index: -1; */
}

path{
    position: relative;
    z-index: -2;
}

.piece {
    height: 80px;
    width: 80px;
    position: relative;
    z-index: 1;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    height: 30%;
    width: 30%;
    border-radius: 50%;
    background-color: #5416752f;
}